main{
    height: 1000px; /* 1500px */
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuCollection{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100px;
}
.menuCollectionList{

    font-size: 30px;
}
.menuCollectionList{
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 40px;

}
.menuTexte{  /* Boutton pour les timbres */
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    background: #00d5ff;
    border: 2px solid black;
    color: black;
    margin: 30px;
}
.menuTexte:hover{  /* Boutton pour les timbres */
    background: #2c8b9e;
}

.SearchDiv{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.Search{
    margin-top: 7px;
    margin-left: 10px;
    padding: 6px;
}
.searchImage{
    margin-top: 6px;
    width: 40px;
    height: 30px;
    border: 1px solid black;
}


.image{
    margin-top: 80px;
    width: 100%;
    height: 50%;
    background: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commonImage{
    background-color: antiquewhite;

}
.rareImage{
    display: none;
    background-color: chocolate;
}
.uniqueImage{
    display: none;
    background-color: fuchsia;
}
.imgStamp{
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
}
